@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Default font: 24px */
  --font-mono: var(--font-space-mono);
  --text-base: 1.5rem;

  /* Colors */
  /* Primary */
  --color-green-400: hsl(172, 67%, 45%);

  /* Neutral */
  --color-green-900: hsl(183, 100%, 15%);
  --color-gray-500: hsl(186, 14%, 43%);
  --color-gray-400: hsl(184, 14%, 56%);
  --color-gray-200: hsl(185, 41%, 84%);
  --color-gray-50: hsl(189, 47%, 97%);
}

* {
  /* @apply outline outline-red-500; */
}

body {
  background: var(--color-gray-200);
  color: var(--color-gray-500);
  font-family: var(--font-space-mono), Arial, Helvetica, sans-serif;
  font-size: var(--text-base);
}

.input--text {
  @apply bg-gray-50 rounded-sm px-4 py-2 placeholder:text-gray-400 text-right text-green-900;
}

.calculator-label {
  @apply bg-green-900 w-full h-full flex justify-center items-center text-gray-50 py-1 rounded-lg cursor-pointer;
  @apply peer-checked:bg-green-400 peer-checked:text-green-900 active:scale-90 motion-safe:duration-150 ease-in-out;
}
