@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Default font: 24px */
  --font-mono: var(--font-space-mono);
  --text-base: 1.5rem;

  /* Colors */
  /* Primary */
  --color-green-400: hsl(172, 67%, 45%);

  /* Neutral */
  --color-green-900: hsl(183, 100%, 15%);
  --color-green-500: hsl(186, 14%, 43%);
  --color-green-400: hsl(184, 14%, 56%);
  --color-green-200: hsl(185, 41%, 84%);
  --color-green-50: hsl(189, 47%, 97%);
}

* {
  @apply outline outline-red-500;
}

body {
  background: var(--color-green-200);
  color: var(--foreground);
  font-family: var(--font-space-mono), Arial, Helvetica, sans-serif;
  font-size: var(--text-base);
}

.input--text {
  @apply bg-green-50 rounded-sm px-4 py-2 placeholder:text-green-400 text-right text-green-900;
}

.calculcator__button {
  @apply bg-green-900 w-full h-full flex justify-center items-center text-green-50 py-1 rounded-lg;
}
